/**************************************************************
   AUTHOR:  Pat Heard (fullahead.org)
   DATE:    2006.09.12 
   PURPOSE: Controls the layout of the site and styles
            the menus
 **************************************************************/



/**************************************************************
   #wrapper & #content: wrapper positions and sets the width
   on the content.  The background is then applied to #content.
 **************************************************************/

#wrapper {
  width: 589px;
  height: 100%;
  margin: 0 auto;
  
  text-align: left;
}


/**************************************************************
   #header: Holds the site title and header images
 **************************************************************/




/**************************************************************
   #page: Holds the main page content.
 **************************************************************/



/**************************************************************
   .footer: Site footer
 **************************************************************/



/**************************************************************
   .bigLinks: Large, clickable links
 **************************************************************/



/**************************************************************
   Width classes used by the site columns
 **************************************************************/

.width100 {
  width: 100%;
}

.width75 {
  width: 73%;
}

.width66 {
  width: 64%;
}

.width50 {
  width: 48%;
}

.width33 {
  width: 31%;
}

.width25 {
  width: 23%;
}



/**************************************************************
   Alignment classes
 **************************************************************/

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}



/**************************************************************
   Generic display classes
 **************************************************************/

/*
.clear {
  clear: both;
}
*/
/*
.block {
  display: block;
}
*/
/*.big {
  font-size: 1.3em;  
}*/
/*
.small {
  font-size: 0.85em;  
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.grey {
  color: #AAA;
}

.green {
  color: #82C048;
}
*/
/*.darkBrown {
  color: #512103;
}
*/
/*
.greenBg {
  padding: 0 10px;
  background-color: #F1FFE3;
  border-bottom: 1px solid #B8E78B;
}
*/
.highlight {
  padding: 1px 2px;
  background: #D9F5EC;
  border-top: 1px solid #BDEDDE;
}





